{% extends 'base.html' %}

{% block content %}
    <h1>Post</h1>
    <ul>

        {% for post in object_list %}
            <br>
            <br>
            <li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a>
                -<small><a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a></small>
                <h6>The author is {{ post.author.first_name }} {{ post.author.last_name }}--
                    <small>{{ post.post_date }}</small>
                    {% if user.is_authenticated %}
                        <small>


                            <a
                                    href="{% url 'update_post' post.pk %}">[Edit]</a></small> <small><a
                            href="{% url 'delete_post' post.pk %}">[Delete]</a></small></h6>
                    {% endif %}
                <br>
                <br>

                {{ post.body|slice:":200" }}</li>
        {% endfor %}
    </ul>
{% endblock %}